* {
  box-sizing: border-box;
}

html {
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
}

header .container {
  display: flex;
  padding: 0.5rem 1rem;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  height: 54px;
}

header #header-navigation {
  display: flex;
  align-items: center;
}

header #header-navigation nav {
  margin-right: 1rem;
}

header #header-navigation nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
}

header #header-navigation button {
  appearance: none;
  border: none;
  background-color: transparent;
}

header #header-navigation button svg {
  width: 1.5rem;
  height: 1.5rem;
}

section {
  background-color: #fff;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.title-benefits h2 {
  font-size: 2.25rem;
  line-height: 2.5625rem;
  font-weight: 400;
  margin: 2rem 0;
}

.title-benefits span {
  color: #00d5e0;
  font-weight: 700;
}

.benefits-travel {
  padding: 0 1.5rem;
  display: flex;

}

.benefits-travel-spacing {
  margin-bottom: 3.75rem;
}

.usp-wrapper {
  display: flex;
  justify-content: center;
}

.usp-item #icon-percentage,
.usp-item #icon-bulb,
.usp-item #icon-lock,
.usp-item #icon-camera {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usp-item h2 {
  font-size: 20px;
  font-weight: 700;
  color: #323231;
  text-align: center;
}

.usp-item p {
  color: #868686;
  text-align: center;
  margin-bottom: 0;
  max-width: none;
}

/* second section */

#community {
  display: flex;
  padding: 0 1.5rem;
}

.title-community h2 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.5625rem;
  margin: 2rem 0;
}

.title-community span {
  color: #00d5e0;
  font-weight: 700;
}

.community-travel-places {
  min-height: 350px;
  margin-bottom: 2rem;
}

.community-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem 1.5rem;
}


.community-item {
  /* overflow: hidden; */
  border-radius: 16px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  height: 414px;
  max-height: 414px;
}

img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}

.luxushotels {
  height: 378px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .5s;
  max-width: 100%;

}

.textcontent {
  position: relative;
  margin-top: -60px;
  left: calc(50% - 135px);
  width: 271px;
  border-radius: 8px;
  padding: 16px 10px;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .18);
  text-align: center
}

.category-community {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
  position: relative;
}

.underline {
  background-color: #0197af;
  width: 10rem;
  height: 1px;
  margin: 0 auto;
}

.category-sub-title {
  margin: 0 8px 0 0;
  font-weight: 800;
  color: #0197af;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-sub-title svg {
  width: 1.2rem;
  height: 1.2rem;
}

#button-wrap-community {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin: 50px 0 0 0;
}

#button-wrap-community button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d5e0;
  padding: 1.1rem 0.8rem;
  appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button-wrap-community span {
  position: relative;
  z-index: 10;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323231;
  font-weight: bold;
  font-size: 0.9rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {

  .title-community h2 {
    display: flex;
    justify-content: center;
  }

  .community-wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem 1.5rem;
  }
 
}